[Unit]
Description=Cloudflare DDNS
After=network.target

[Service]
ExecStart=/usr/local/bin/cloudflare-ddns
Restart=always
# ParseDuration parses a duration string.
# A duration string is a possibly signed sequence of
# decimal numbers, each with optional fraction and a unit suffix,
# such as "300ms", "-1.5h" or "2h45m".
# Valid time units are "ns", "us" (or "µs"), "ms", "s", "m", "h".
Environment=INTERVAL=1h
# the domain mane
Environment=ZONE_NAME=
Environment=CLOUDFLARE_API_TOKEN=
Environment=LOG_LEVEL=debug

[Install]
WantedBy=multi-user.target